@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif; 
}

.home {
    background: url('../assets/background.png');
    min-height: 100vh;
    background-size: cover;
    display: flex;
    padding: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position:relative;
    /* background-color: black; */
}

.title {
    /* border: 2px solid black; */
    padding: 10px;
    max-width: 60%;
    justify-content: space-between;
    position: relative;
}

.title h1 {
    background: black;
    opacity: .8;
    border-radius: 15px;
    font-weight: 600;
    font-size: 75px;
    padding: 5px;
    color: white;
}

.title button {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: transparent;
    border: 5px solid black;
    font-weight: 600;
    letter-spacing: 1px;
    justify-content: center;  
    font-size: 20px;
}

.title button a {
    text-decoration: none;
    color: rgb(10, 7, 7);
}

.title button :hover{
    background: darkgrey;
    border: 2px dashed black;
}

.welcome {
    background: url('../assets/background.png');
    min-height: 100vh;
    background-size: cover;
    /* display: flex; */
    padding: 100px;
    justify-content: center;
    align-items: center;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    background: #f1f1f1f1;
  }
  
  /* Slides */
  .mySlides {
    display: none;
    padding: 30px;
    text-align: center;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
      text-align: center;
      padding: 20px;
      background: #ddd;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dot:hover {
    background-color: #717171;
  }

  .exp-title {
    padding: 20px;
  }

  .exp-img {
    height: 400px;
  }
  
  /* Add a blue color to the author */
  .description {
    font-size: larger;
    padding: 20px;
  }