@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif; 
}

.home {
    background: url('../assets/background.png');
    min-height: 100vh;
    background-size: cover;
    display: flex;
    padding: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.title {
    /* border: 2px solid black; */
    padding: 10px;
    max-width: 60%;
    justify-content: space-between;
    position: relative;
}

.title h1 {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    font-weight: 600;
    font-size: 75px;
    padding: 5px;
    color: white;
}

.title button {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: transparent;
    border: 5px solid black;
    font-weight: 600;
    letter-spacing: 1px;
    justify-content: center;  
    font-size: 20px;
}

.title button a {
    text-decoration: none;
    color: rgb(10, 7, 7);
}

.title button :hover{
    background: darkgrey;
    border: 2px dashed black;
}

.welcome, .predict {
    background: url('../assets/background.png');
    background-color: black;
    min-height: 100vh;
    background-size: cover;
    padding: 100px;
    justify-content: center;
    align-items: center;
}

.slideshow-container {
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
}
  
.mySlides {
    display: flex;
    padding: 10px;
    text-align: center;
}
  
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}
  
.dot-container {
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}
  
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}

.exp-title {
    padding: 20px;
}

.exp-img {
    max-height: 400px;
}

.description {
    font-size: larger;
    padding: 20px;
}

.how-to-use {
    background: url('../assets/background.png');
    min-height: 100vh;
    background-size: cover;
    display: flex;
    padding: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    background-color: black;
}

.predict {
    background: url('../assets/background.png');
    background-color: black;
    min-height: 100vh;
    background-size: cover;
    padding: 100px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.box {
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.title {
    padding: 10px;
    text-align: center;
    margin: auto;
}

.form {
    width: 50%;
    padding: 15px;
    justify-content: space-between;
}

.hasil {
  width: 50%;
}

.input-data {
  padding-bottom: 10px;
}

.input-data label {
  width: 100%;
  color: black;
  font-size: 20px;
  font-weight: 400;
  margin: 5px 0;
  padding-bottom: 20px;
}

.input-data input,
.input-data select {
  height: 40px;
  width: 95%;
  border-radius: 7px;
  outline: none;
  border: 1px solid grey;
  padding: 0 10px;
  font-size: 18px;
  margin-left: 2%;
}

.submit-btn input {
  display: block;
  width: 100%;
  margin-top: 10px;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  color: rgb(209, 209, 209);
  background: rgba(21, 81, 190, 0.7);
  cursor: pointer;
}

.submit-btn input:hover {
  background: rgba(47, 151, 199, 0.7);
  color: rgb(255, 255, 255);
}
/* .input-data {
  padding: 20px;
}

input {
  position: relative;
  left: 20px;
  padding: 0 20px;
  line-height: 40px;
  border-radius: 6px;
  font-size: 18px;
}

select {
  padding: 10px;
  border-radius: 4px;
}

option {
  padding: 20px;
}

label {
  margin-left: 25px;
  margin-top: 30px;
  margin-bottom: 25px;
  width: 125px;
  font-size: 18px;
}

.submit {
  width: 100%;
  height: 20%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);;
  border-radius: 8px;
}

.submit:hover {
  background-color: blue;
} */

/* .hasil {
  width: 50%;
} */

